.button {
    -fx-font-family: Montserrat;
    -fx-padding: 10 10 10 10;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #8C7466 0%, #83695A 100%),
            #83695A ,
            #8C7466,
            radial-gradient(center 50% 50%, radius 100%, #83695A , #8C7466);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-font-size: 15px;
}
.button:hover {
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #8C7466 0%, #83695A  100%),
            #83695A,
            #8C7466,
            radial-gradient(center 50% 50%, radius 100%, #8C7466, #83695A );
}
.button:pressed {
    -fx-padding: 10 10 10 10;
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}
.button Text {
    -fx-fill: white;
    -fx-effect: dropshadow( gaussian , #a30000 , 0,0,0,2 );
    -fx-font-size: 15px;
    -fx-font-weight: bold;
}

@font-face
{
    font-family: Montserrat;
    src: url("../../assets/Montserrat-Regular.ttf");
}